html,
body {
  overflow: hidden;
  margin: 0;
  padding: 0;
  background-color: #070c20;
  font: 12px sans-serif;
}

#nms-graph .node {
  cursor: move;
}
#nms-graph .node circle {
  fill: #070c20;
}
#nms-graph .node.fixed circle {
  stroke: #f00;
}

#hoverInfo {
  position: absolute;
  z-index: 100;
  padding: 10px;
  border: blue 1px solid;
  border-radius: 5px;
  background: #fff;
  font-size: 2rem;
}
#hoverInfo .wrapper {
  display: flex;
  align-items: center;
}
#hoverInfo img {
  width: 50px;
}
