/*@import url('https://nmscd.github.io/No-Mans-Sky-Universal-Font/assets/font/NMSGeoSans_Kerned/Web-TT/NMSGeoSans_Kerned.css');*/

html,
body {
  overflow: hidden;
  margin: 0;
  padding: 0;
  background-color: #070c20;
  font: 12px NMSGeoSans sans-serif;
}

#nms-graph .linkHovers,
#nms-graph .links {
  stroke-width: 2;
  fill: none;
}

#nms-graph .linkHovers {
  stroke-width: 15;
  stroke: red;
  opacity: 0;
}

#nms-graph .links path {
  stroke: #7f7f7f;
  marker-end: url("#arrow-basic");
}
#nms-graph .links path.hover {
  stroke: #f8bc63;
  marker-end: url("#arrow-highlight");
}

#nms-graph .node {
  cursor: move;
}
#nms-graph .node circle {
  fill: #070c20;
}
#nms-graph .node.fixed circle {
  stroke: #f00;
}

#hoverInfo {
  position: absolute;
  z-index: 100;
  padding: 10px;
  border: blue 1px solid;
  border-radius: 5px;
  background: #fff;
  font-size: 2rem;
}
#hoverInfo .wrapper {
  display: flex;
  align-items: center;
}
#hoverInfo img {
  width: 50px;
}
